html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: black;
  text-align: center;
}

h1 {
  font-family: "Pacifico", cursive;
  color: white;
  font-weight: lighter;
  font-size: 3rem;
  margin-top: 10rem;
}

h2 {
  font-family: "Amatic SC", cursive;
  font-size: 2.5rem;
  color: whitesmoke;
  font-weight: bolder;
}

header:hover {
  transform: scale(1.2);
}

h3 {
  font-family: "Amatic SC", cursive;
  font-size: 3rem;
  color: whitesmoke;
  font-weight: bolder;
}

p {
  font-family: "Amatic SC", cursive;
  color: beige;
  font-size: 1.4rem;
}

a {
  font-family: "Amatic SC", cursive;
  color: beige;
  font-weight: bolder;
  font-size: 1.4rem;
}

i {
  color: white;
  margin-right: 1rem;
  margin-left: 1rem;
}

i:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.item-content {
  font-size: 1.7rem;
}

.hover-red-transform:hover {
  color: red;
}

.mt {
  margin-top: 1.3rem;
}

.footer {
  background-color: grey;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 1rem 0 1rem 0;
  opacity: 0.5;
}

.footer:hover {
  opacity: 1;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
}
.flex-item {
  width: 30%;
}

@media (max-width: 660px) {
  .container {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .flex-item {
    width: 100%;
  }
}
